@{
    ViewData["Title"] = "Home Page";
}


<div class="container-fluid text-center">

    <h3 class="display-6">Welcome To Customer Portal</h3>
    <p> <br>Your Security Is Our Top Priority<br><strong>Please For Reporting A Problem With Our Services, Select <strong><em>Products</em></strong> And Press On <strong><em>Report A Problem</em></strong> To Go To The Intervention Form!</strong>
    <br> Our Technicians Will Contact You As Soon As Possible  </p>
    <div class="row justify-content-center align-items-center">
        <img src="~/images/customer.png" alt="IMAGES" />
    </div>
</div>