h1 {
    width:600px;
    margin: 0 auto;
    color:rgb(202, 58, 53);
    text-align: center;
}
h3 {
    width:600px;
    margin: 0 auto;
    color:rgb(56, 103, 233);
    text-align: center;
}